{{ form_start(form)}}

{{ form_row(form.nom)}}
{{ form_row(form.description)}}
{{ form_row(form.id_categorie)}}
{{ form_row(form.prix)}}
{{ form_row(form.images)}}
<button type="'submit" class="btn btn-cambridge text-white">{{button_label| default('Ajouter')}}</button>
{{ form_end(form)}}